:root {
  --bg: #000000;
  --primary-color: #0e86d8;
  --secondary-color: #171717;
  --cta-but: #f37216;
  --color: white;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg);
  color: var(--color);
}
body::-webkit-scrollbar {
  display: none;
}
h1 {
  font-family: "Roboto", sans-serif;
}
